<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <style>
        body {
            text-align: center;
            padding: 150px;
        }

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 20px;
        }
    </style>
</head>
<body>
<h1>400 Bad Request</h1>
<p>the server cannot or will not process the request due to something that is perceived to be a client error</p>
</body>
</html>
